.nav {
  height: 50px;
  background-color: orangered;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav :global(.active) {
  background-color: green;
}
